flask==2.3.3
DrissionPage==4.0.0
snownlp==0.12.3
asari==0.0.4
openai==1.3.0
pyecharts==2.0.1
gunicorn==21.2.0
Jinja2==3.1.2
itsdangerous==2.1.2
Werkzeug==2.3.7
MarkupSafe==2.1.3
click==8.1.7
requests==2.31.0
chardet==5.2.0
certifi==2023.7.22
idna==3.4
urllib3==2.0.4
simplejson==3.19.1
pyecharts-javascripthon==0.1.0
prettytable==3.8.0
pillow==10.0.1
